#project {
    display: flex;
    padding-top: 70px;

    @keyframes arrowAnimation {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes arrowAnimation2 {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(5px);
        }
        100% {
            transform: translateX(0);
        }
    }
    .project__wrap {
        display: flex;

        .wrap {
            width: 15%;

            .icon {
                .arrow {
                    .arrow__icon {
                        width: 6vw;
                        height: 6vw;
                        animation: arrowAnimation 1.4s infinite;
                    }
                }
            }
        }

        .text {
            width: 85%;

            .text__main {
                font-size: 4vw;
                font-weight: 600;
                line-height: 120%;
                margin-bottom: 80px;
            }
            .project__flexBox {
                display: flex;
                .leftFlex {
                    width: 50%;
                }
                .righrFlex {
                    padding-right: 8%;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 17vw;

                    .desc__title {
                    }

                    p {
                        font-size: 1vw;
                        font-family: var(--font-chosun);
                    }

                    .project__more {
                        width: 40%;
                        a {
                            position: relative;
                            font-family: var(--font-Roboto);
                            transition: all 0.2s;
                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: calc(100% - 1px);
                                height: 2px;
                                left: 1%;
                                bottom: 0%;
                            }
                            &:before {
                                background-color: var(--white100);
                            }
                            &:after {
                                background-color: var(--black600);
                                transform: scaleX(0);
                                transition: all 0.3s;
                            }
                            &:hover {
                                color: var(--black600);
                            }
                            &:hover::after {
                                transform: scaleX(1);
                            }
                            .arrow__icon {
                                position: absolute;
                                right: 2%;
                                top: 24%;
                                width: 0.8vw;
                                height: 0.8vw;
                                animation: arrowAnimation2 1.4s infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
