#slide {
    padding: 250px 30px 100px 30px;
    .slider__wrap {
        width: 100%;
        display: flex;
        overflow: hidden;
        .slider {
            border-radius: 20px;
            img {
                // width: 853px;
                // height: 504px;
                width: 40vw;
                height: 25vw;
                margin-right: 30px;
            }
        }
    }
}
