@import "../setting/animation";

#work {
    padding-top: 330px;
    .work__inner {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        // inner

        .work__wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50%;
            .work__title {
                font-size: 7.8vw;
                line-height: 7.9vw;
                font-weight: bold;

                img {
                    width: 11vw;
                    height: 6.5vw;
                }
            }
            // title

            .work__flexBox {
                display: flex;
                padding-top: 70px;
                .leftFlex {
                    width: 50%;
                }
                .rightFlex {
                    padding-right: 8%;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 17vw;

                    .underline {
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                    p {
                        font-size: 1vw;
                        font-family: var(--font-chosun);
                    }
                }
            }
            // flexBox

            .work__list {
                .work__item {
                    position: sticky;
                    top: 0;
                    padding: 150px 0 200px 0;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--line-color);

                    .num {
                        width: 30%;
                        font-size: 10.5vw;
                        font-weight: 600;
                        line-height: 107%;
                    }
                    .item__wrap {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        .item__title {
                            font-size: 3.5vw;
                            line-height: 120%;
                            font-weight: bold;
                            letter-spacing: -2px;
                            text-transform: uppercase;
                        }
                        .item__img {
                            padding: 3rem 0;
                            img {
                                width: 30vw;
                                height: 18vw;
                            }
                        }
                        .item__desc {
                            width: 70%;
                            .desc__wrap {
                                border-top: 1px solid var(--line-color);
                                border-bottom: 1px solid var(--line-color);
                                padding: 1rem 0;
                                box-sizing: border-box;
                                font-family: var(--font-s-core);
                                .flex__desc {
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 1.3vw;
                                    position: relative;
                                    .icon__plus {
                                        position: absolute;
                                        right: 0%;
                                        top: 28%;
                                        transition: all 0.4s ease-in-out;
                                        transform: rotate(45deg);
                                    }
                                    .close {
                                        transform: rotate(0);
                                    }
                                }
                                .hidden__desc {
                                    font-size: 1.1vw;
                                    padding: 2rem 0 0rem 0;
                                    font-weight: 300;
                                }
                                .hidden__desc.expand {
                                    animation: expand 0.4s ease-in-out forwards;
                                }

                                .hidden__desc.collapse {
                                    animation: collapse 0.1s ease-in-out
                                        forwards;
                                }
                            }
                            .desc__wrap:nth-child(2) {
                                border-top: none;
                            }
                        }
                    }
                }
            }
            // workList
        }
        // wrap
    }
}
